@charset "utf-8";

.logo{
	position: absolute;
	top: -5px;
	left: 5px;
	height: 15%;
	width: 7%;
	z-index: 4;
}

.icon_logon{
	position: absolute;
	top: -5;
}

.barra_nav{
	position: absolute;
	height: 10.5%;
	width: 100%;
	background-color: #0C007B;
	z-index: 2;
}

.position_menu{
	position: relative;
	left: 50%;
	height: 10.5%;
	width: 800px;
	background-color: #0C007B;
}

.position_menu{
	text-transform: uppercase;
	list-style: none;
	float: left;
}

.position_menu li{
	background-color: #008CD0;
	list-style: none;
	border-radius: 7px;
	position: relative;
	float: left;
	
}

.position_menu li a{
	color: #FFFFFF;
	text-decoration: none;
	padding: 5px 20px;
	display: block;
}

.position_menu li a:hover{
	background-color: #FFFFFF;
	color: black;
	border-radius: 7px;
}

.position_menu li ul{
	position: absolute;
	left: 0;
	top: 25px;
	display: none;
	z-index: 3;
}

.position_menu li:hover ul{
	display: block;
}

.position_menu li ul li{
	display: block;
	width: 150px;
}
