@charset "utf-8";
/* CSS Document */

.carousel{
	position: relative;
	top:72px;
	width: 100%;
	z-index: 1;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* posição e preferencia dos botões de avançar e voltar*/
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* posicao do botao next */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Efeito hover dos botoes */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


/* bolinhas */
.bolinha {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #000268;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .bolinha:hover {
  background-color: #12B8BB;
}

/* Animação de desvanecimento */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

